body {
  /* background: url(bg3.jpg) no-repeat fixed;
  background-size: cover;*/
  background-color: #d0b8a8;
  margin: 0;
  padding: 0;
}
/*NavBar*/
.header {
  background-color: black;
  width: 100%;
  height: 14vh;
  padding: 0;
  text-align: center;
  position: sticky;
}
.NAV {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header #portfolio {
  display: block;
  margin-top: 2.5%;
  font-size: 50px;
  text-transform: capitalize;
  color: white;
  padding: 2px;
  text-align: center;
}

#navRow {
  /*
  background-color: blueviolet;
  
  margin-left: 20px;
  margin-right: -2%;
  */
}
.list {
  list-style: none;
  margin-top: 2.5%;
  margin-right: -15%;
}
.list li {
  display: inline-block;
  margin: 16px;
  line-height: 20px;
}
.list li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 22px;
  padding: 0 15px;
  text-transform: uppercase;
}
.list li a:hover,
a.active {
  color: darkcyan;
}
.header #icon {
  font-size: 30px;
  color: white;
  float: right;
  cursor: pointer;
  margin-right: 40px;
  margin-top: -4%;
  display: none;
}

@media (max-width: 990px) {
  .header #icon {
    display: block;
  }
  .header #portfolio {
    font-size: 30px;
    position: relative;
  }
  .list {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    position: fixed;
    top: 12%;
    left: -10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(22, 21, 21, 0.5);
  }
  .list li {
    display: block;
    margin: 0;
    margin-top: 10px;
    padding: 20px;
  }
  .list li a:hover,
  a.active {
    color: darkcyan;
    text-transform: uppercase;
  }
  #icon:onclick {
  }
}

/*HORIZONTAL RULE */
hr {
  border-style: none;
  border-top-style: dotted;
  width: 15%;
  border-width: 7px;
  color: brown;
}
/*HOME PAGE*/
.home {
  /*background-color: brown;*/
  width: 80vw;
  height: 65vh;
  margin: auto;
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
  padding: 3%;
}
.home .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.home h2 {
  font-size: 50px;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0;
  color: rgb(177, 5, 39);
}
.home p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.5;
  word-spacing: 1px;
  font-style: normal;
  color: darkslateblue;
  margin-top: 2%;
}
.image #profileImage {
  border-radius: 20px;
  height: 60vh;
  position: relative;
  top: 30px;
}

@media (max-width: 990px) {
  .home {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 10%;
  }
}

/*ABOUT ME*/
.aboutMe {
  margin: 3% auto;
}
.aboutMe .ME {
  font-family: serif;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 1;
  word-spacing: 1;
  width: 70%;
  margin: auto;
  text-align: justify;
  margin-top: 40px;
}

.aboutMe h2 {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  text-align: center;
}

/*SKILLS*/

.skills {
  margin-top: 30px;
}
.skills h2 {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  text-align: center;
}
.skillContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.skills .block {
  border: 2px solid black;
  border-radius: 45%;
  padding: 20px;
  background-color: rgba(233, 108, 108, 0.5);
  margin: 25px;
  text-align: center;
  height: fit-content;
  width: fit-content;
}
.skillContainer #c {
  text-align: center;
}
.skillContainer #c h1 {
  font-size: 30px;
}
#js .skillList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#js .skillList #javascript {
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}
#js .skillList #cpp {
  font-size: 17px;
  font-weight: 600;
}

.block:hover {
  transform: scale(1.1);
  overflow: hidden;
  transition-timing-function: ease-in-out;
  transition-delay: 0.3s;
}
/*PROJECTS*/
.mainProject {
  margin-bottom: 2%;
}
.mainProject #heading {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  text-align: center;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.projectBlock {
  background-color: rgb(241, 14, 60, 0.9);
  border: 3px solid black;
  border-radius: 50px;
  padding: 20px;
  margin: 25px;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  width: fit-content;
}

.projectBlock a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.projectBlock p {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}

.projectBlock:hover {
  transform: scale(1.1);
  overflow: hidden;
  transition-timing-function: ease-in;
  transition-delay: 0.3s;
  background: linear-gradient(
    to right,
    rgb(230, 35, 67),
    rgb(240, 62, 92),
    rgb(245, 125, 145)
  );
}
