body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navBar {
  width: 100%;
  height: 80px;
  background-color: black;
  height: 5rem;
  color: white;
}
label.portfolio {
  text-transform: uppercase;
  font-size: 50px;
  margin-left: 12%;
  line-height: 5rem;
}
.navBar ul {
  float: right;
  list-style: none;
  margin-right: 8%;
}
ul li {
  display: inline-block;
  line-height: 3rem;
  margin: 0 20px;
}
.list li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 400;
}
.list li a:hover,
a.active {
  color: deeppink;
  transition: 0.3s;
  transition-timing-function: linear;
}
#check-button {
  display: none;
}
.check {
  float: right;
  font-size: 30px;
  margin-right: 3%;
  line-height: 4rem;
  cursor: pointer;
  display: none;
}
@media (max-width: 990px) {
  .check {
    display: block;
    margin-top: 1%;
  }
  .list {
    position: fixed;
    width: 100%;
    height: fit-content;
    background-color: blue;
    top: 9%;
    left: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-timing-function: linear;
    transition: all 0.5s;
  }
  .list li {
    display: block;
    padding: 1%;
  }
  .list li a {
    color: black;
    font-size: 30px;
    font-weight: 300;
  }
  li a:hover,
  :active {
    color: brown;
  }
  #check-button:checked ~ ul {
    left: 0;
  }
}
