body {
  background: url(http://patriciamitt.com.br/images/backgrounds/services-background.jpg)
    no-repeat fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  margin: 1%;
  border: 4px solid black;
  font-family: "Source Serif Pro", serif;
}
/*NavBar*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navBar {
  width: 100%;
  height: 80px;
  background-color: #5cb666;
  opacity: 0.9;
  color: white;
}

label.portfolio {
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Caveat", cursive;
  font-weight: 900;
  margin-left: 12%;
  line-height: 5rem;
  color: #182747;
  opacity: 1;
}
.navBar ul {
  float: right;
  list-style: none;
  margin-right: 8%;
}
ul li {
  display: inline-block;
  line-height: 3rem;
  margin: 0 20px;
}
.list li a {
  text-decoration: none;
  color: #ededed;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 500;
}
.list li a:hover,
a.active {
  box-shadow: #d6d5a8;
  color: #3c2946;
  transition: 0.3s;
  transition-timing-function: linear;
}
#check-button {
  display: none;
}
.check {
  float: right;
  font-size: 30px;
  margin-right: 3%;
  line-height: 4rem;
  cursor: pointer;
  display: none;
}
@media (max-width: 990px) {
  .check {
    color: #182747;
    display: block;
    margin-top: 1%;
  }
  .list {
    position: fixed;
    width: 100%;
    height: fit-content;
    background-color: rgb(241, 145, 145, 0.4);
    top: 10%;
    left: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-timing-function: linear;
    transition: all 0.5s;
  }
  .list li {
    display: block;
    padding: 1%;
  }
  .list li a {
    color: #880728;
    font-family: "Times New Roman", Times, serif;
    font-size: 35px;
    font-weight: bolder;
  }
  li a:hover,
  :active {
    color: #3c2946;
  }
  #check-button:checked ~ ul {
    left: 0;
  }
}

/*HORIZONTAL RULE */
hr {
  border-style: none;
  border-top-style: dotted;
  width: 15%;
  border-width: 7px;
  color: #2a0944;
}
/*HOME PAGE*/
.home {
  /*background-color: brown;*/
  width: 80vw;
  height: 65vh;
  margin: auto;
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
  padding: 3%;
}
.home .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.home h2 {
  text-transform: uppercase;
  font-size: 55px;
  font-family: "EB Garamond", serif;
  font-weight: bold;
  letter-spacing: 0.2;
  color: #430d27;
  margin-bottom: 2%;
}
.home p {
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
  line-height: 1.5;
  word-spacing: 1px;
  color: #9e1e3e;
  margin-top: 2%;
}
.image #profileImage {
  border-radius: 20px;
  height: 60vh;
  position: relative;
  top: 30px;
}

@media (max-width: 990px) {
  .home {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 10%;
  }
}

/*ABOUT ME*/
.aboutMe {
  margin: 3% auto;
}
.aboutMe .ME {
  font-family: serif;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 1;
  word-spacing: 1;
  width: 70%;
  margin: auto;
  text-align: justify;
  margin-top: 40px;
}

.aboutMe h2 {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  text-align: center;
  color: rgb(26, 3, 3);
}

/*SKILLS*/

.skills {
  margin-top: 30px;
}
.skills h2 {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  text-align: center;
  color: rgb(26, 3, 3);
}
.skillContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.block p {
  text-align: center;
  font-size: 20px;
  line-height: 1;
  font-family: "Abyssinica SIL", serif;
  font-weight: 200;
  opacity: 0.9;
}
.skills .block {
  border: 2.5px solid black;
  border-radius: 45%;
  padding: 15px;
  background-color: rgba(158, 30, 62, 0.6);
  /* background-color: rgba(175, 47, 98, 0.8);*/
  margin: 25px;
  width: 20rem;
  height: 23rem;
  text-align: center;
}
.block:hover {
  transform: scale(1.1);
  overflow: hidden;
  transition-timing-function: linear;
  transition-delay: all 0.3s;
}
#img-webD {
  margin-top: -6%;
  margin-bottom: 0;
}
#webD h1 {
  margin-top: 0;
}

/*PROJECTS*/
.mainProject {
  margin-bottom: 2%;
}
.mainProject #heading {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  text-align: center;
  color: rgb(26, 3, 3);
}
.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.projectBlock {
  background-color: #77558a;
  border: 3px solid black;
  border-radius: 50px;
  padding: 20px;
  margin: 25px;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  width: fit-content;
}
.projectBlock h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}
.projectBlock a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.block h1 {
  font-family: "Lobster", cursive;
  font-weight: 100;
}

.projectBlock p {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
  font-family: "Abyssinica SIL", serif;
}

.projectBlock:hover {
  transform: scale(1.1);
  overflow: hidden;
  transition-delay: 0.3s;
  background: linear-gradient(to right, #51557e, #816797, #d6d5a8);
}
/*FOOTER*/
.footer {
  margin-top: 2%;
  width: 100%;
  height: 5em;
  background-color: rgba(88, 78, 78, 0.7);
  border-top-style: 2px solid black;
}
.footer a label {
  color: #0d0c1d;
  font-size: 40px;
  text-align: center;
}
#linked-in {
  padding-right: 1%;
}
.footer a {
  display: block;
  padding: 5px;
  text-align: center;
  margin: auto;
  padding-left: 20px;
  margin-top: 30%;
}
.footerBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer .footer-icons:hover,
:active {
  color: #341f41;
}
